 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
 @import "../../bower_components/foundation/scss/foundation/components/magellan";
 @import "../../bower_components/foundation/scss/foundation/components/global";
 @import "../../bower_components/foundation/scss/foundation/components/flex-video";
 @import "../../bower_components/foundation/scss/foundation/components/reveal";
 @import "../../bower_components/foundation/scss/foundation/components/grid";


 // Custom Styles
body {

  font-family: 'Bubblegum Sans', cursive, 'sans-serif';
  letter-spacing: 1px;

  a:hover{
    color: hsla(206,3%,56%,1);
  }


}

 //header section

 #header {
   background-image: url(http://f.cl.ly/items/24250X3Y0P1L3p2M0N2o/Fado%20Large.jpg);
   height: 800px;
 }

 .logohead {
   text-decoration: none;
   color: white;
   font-size: 3em;
   margin-left: 7%;
 }

 .bottle {
   width: 46px;
   margin-top: -14px;
 }




 .sub-nav{
   float: right;
   font-size: 1.8em;
   margin-top: -60px;

   a {
     color: #fff;
     text-decoration: none;
     padding: 21px;
   }
   a:hover{
     color: #de9d8e;
   }

   .facebook img{
     width: 60px;
   }

   .twitter img {
     width: 60px;
     margin-left: -55px;
   }

   .youtube img {
     width: 34px;
     margin-left: -44px;
   }
 }


 // Live Section

.live {

  background-color: black;
  background-image:
  linear-gradient(
      #2f2f2f, #5c5c5c
  );  height: auto;
  max-width: 100%;
  margin: 0 auto;
//  margin-left: 2%;
  text-align: center;
  font-size: 1.9em;
  margin-top: -57px;

.rowhead {
  height: auto;
}

  h3 {
    color: white;
  }

  h2 {
    font-size: 1.1em;
    text-decoration: underline;
  }

  h4 {
    float: right;
    font-size: 0.7em;
    text-align: center;
    margin-right: 11%;
    margin-top: 15px;
  }
  h6 {
    float: right;
    font-size: 0.4em;
    text-align: center;
    margin-right: 12%;
    margin-top: -24px;

  }

  p{
    float: right;
    font-size: 0.4em;
    text-align: center;
    margin-right: 29%;
    margin-top: -26px;
  }

  .date {
    //float: left;
    margin-left: -4%;
    margin-top: 11px;
    width: 70px;

  }

  li {
    list-style-type: none;
    margin-top:-31px;
  }

  .datemodal {
    clear:both;
    margin: 0 auto;
    a {
      text-decoration: none;
      color:white;
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      font-size: 0.5em;
    }
  }



  .shows {
    background-color: hsla(0,0%,90%,1);
    height: auto;
    width: 100%;
    margin-left: 2.4%;
    border-radius: 13px;
//    border: solid 1px black;
    box-shadow: 2px 2px 2px 2px hsla(0,0%,90%,0.3);
  }

  // setlist Stuff

  .setlist {
    background-color: hsla(0,0%,90%,1);
    height: auto;
    width: 100%;
    border-radius: 13px;
    box-shadow: 2px 2px 2px 2px hsla(0,0%,90%,0.3);

   .left {
//     @include span-columns(4 of 8);

     font-size: 0.6em;
     margin-left: 21%;
     text-align: center;
     margin-top: -21px;
     margin-bottom: 22px;
     height: auto;

   }

    .setmodal {
      clear: both;
      margin-top: 10px;

      a {
        text-decoration: none;
        color:white;
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        font-size: 0.5em;
      }
    }

  }

  .venues {
    background-color: hsla(0,0%,90%,1);
    height: auto;
    width: 100%;
    border-radius: 13px;
    box-shadow: 2px 2px 2px 2px hsla(0,0%,90%,0.3);


    .vlist{
      font-size: 0.6em;
      margin-top: -21px;
      margin-bottom: 23px;

    }

    a {
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      font-size: 0.5em;

    }
  }


  img{
    clear: both;
    margin-top: 50px;
  }
}


//Model for Dates
#myModal {

  width: 45%;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px hsla(0,0%,23%,0.4);

  h2 {
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
  }

  h4 {
    float: right;
    font-size: 1.1em;
    text-align: center;
    margin-right: 23%;
    margin-top: 15px;
  }
  h6 {
    float: right;
    font-size: 0.8em;
    text-align: center;
    margin-right: 11%;
    margin-top: -37px;
    clear: both;

  }

  p{
    float: right;
    font-size: 0.8em;
    text-align: center;
    margin-right: 37%;
    margin-top: -32px;

  }

  .date {
    float: left;
    margin-left: 10%;
    margin-top: 11px;
    width: 65px;
  }

  li {
    list-style-type: none;
    margin-top:-31px;
    clear: both;
  }


}

// Modal for Setlist

 #setModal {
   text-align: center;
   width: 40%;
   border-radius: 8px;
   box-shadow: 2px 2px 2px 2px hsla(0,0%,23%,0.4);

   h2 {
     text-decoration: underline;
   }
 }


 // Modal for Venues

 #venueModal {
   text-align: center;
   width: 40%;
   border-radius: 8px;
   box-shadow: 2px 2px 2px 2px hsla(0,0%,23%,0.4);

   h2 {
     text-decoration: underline;
   }
 }


// About section


.about {
  clear: both;
  font-size: 1.7em;
  text-align: center;
  height: auto;
  max-width: 100%;
  color: white;
  margin-top: -32px;
  background-color: black;
  background-image:
  linear-gradient(
      #2f2f2f, #5c5c5c
  );

  p{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;

  }

  h3 {
    padding: 20px;

  }

.members {

  h2 {
    font-size: 1em;
    padding: 0;
  }

  h4{
    font-size: 0.8em;
    //margin-top: -10px;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 81px;
    box-shadow: 2px 2px 2px 2px hsla(0,0%,84%,0.8);
  }
 }
}


// media


 .media {
   clear: both;

   background-color: black;
   background-image:
   linear-gradient(
       #2f2f2f, #5c5c5c
   );
   height: auto;
   margin-top: -60px;
   text-align: center;
   font-size: 1.7em;
   color: white;


   h3 {
     padding-top: 28px;
   }
   .vid1{

   }
   .vid2{

   }
   .vid3{


   }
 .footimg {
     margin-top: 129px;
   }


 }

// Contact Section



 footer {

   height: 370px;
   background-color: black;
   background-image:
   linear-gradient(
       #2f2f2f, #5c5c5c
   );
   color: white;



   .twitter {
     margin-left: -9px;

     img {
       width: 67px;

     }
   }
   .facebook{
     img {
       width: 60px;
     }

   }
   .youtube {
     img {
       width: 34px;
     }

   }

 .contact {
   clear: both;
   text-align: center;
   margin-top: -40px;
   height: auto;


 }
   h3{
     font-size: 2.2em;
     padding: 35px;
   }

   a {
     text-decoration: none;
     color: white;
   }

   p{
     font-size: 1.6em;
     margin-top: -44px;

   }

   .foot{
     margin-top: -74px;
     font-size: 15px;
   }

   .facebook-foot img{
     width: 60px;
   }

   .twitter-foot img {
     width: 60px;
     margin-left: -10px;
   }

   .youtube-foot img {
     width: 34px;
     //margin-left: -44px;
   }
 }


// Sticky Header Color  and Clone

 [data-magellan-expedition] {
   background-color: hsla(0,0%,22%,0.6);
   margin-bottom: 10px;
   height: 80px;
   text-decoration: none;


 }
 [data-magellan-expedition-clone] {
   display: none;
 }


//popup intro

 #mask {
   position:absolute;
   left:0;
   top:0;
   z-index:9000;
   background-color:hsla(0,0%,30%,1);
   display:none;
//   background-color: hsla(30,54%,67%,0.5);

 }


 .anibottle {
   width: 300px;
   margin-top: -75px;
   animation-delay: 1s;

 }
 #boxes .window {
   position:absolute;
   left:0;
   top:0;
   width:440px;
   height:200px;
   display:none;
   z-index:9999;
   padding:20px;
   border-radius: 15px;
   text-align: center;
 }
 #boxes #dialog {
   width:750px;
   height:300px;
   padding:10px;
   font-size: 15pt;
 }
 .maintext{
   text-align: center;
   text-decoration: none;
   margin: 0 auto;
 }
 body{
   background: url('bg.jpg');
 }
 #lorem{
   font-size: 12pt;
   text-align: left;
 }
 #popupfoot{
   font-size: 16pt;
   position: absolute;
   bottom: -96px;
   width: 250px;
   left: 373px;
 }
 #popupfoot a{
   text-decoration: none;
   color: white;


 }
 .agree:hover{
//   background-color: #D1D1D1;
   color: green;
   text-decoration: none;

 }

 .popright {
   float: right;
   margin-top: -359px;
   color: white;
   margin-right: 29px;


   h2 {
     font-size: 1.9em;
     text-align: center;
     text-decoration: none;
   }
   h3 {
     font-size: 1.6em;
   }
 }

 #popupfoot a:hover {
   color: green;
   text-decoration: none;

 }
 .popupoption:hover{
   background-color:#D1D1D1;
   color: green;
   text-decoration: none;

 }
 .popupoption2:hover{

   color: red;
   text-decoration: none;

 }

 // All Media Queries


 @media screen and (max-width: 1200px) {

  .facebook {
   display: none;
  }

   .twitter {
     display: none;
   }
   .youtube {
     display: none;
   }


 }


 @media screen and (max-width: 600px) {

   footer {
     p {
       font-size: 1.2em;
     }
   }
 }
